<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
      <startup class="dev.edt.gitflow.ui.views.StagingRepositoryInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view id="dev.edt.gitflow.ui.view.operations"
            name="%view.operations.name"
            class="dev.edt.gitflow.ui.views.GitFlowView"
            category="dev.edt.gitflow.ui.view.category"/>
      <category id="dev.edt.gitflow.ui.view.category"
            name="%view.category.name"/>
   </extension>
</plugin>
